
#border{
    border: 1px solid black;
}

#error{
    font-size: 20px;
    color: red;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formcol{
    display: flex;
    padding: 10px;
}
